.flex {
  display: flex;
  .space-around {
    justify-content: space-around;
  }
  .space-between {
    justify-content: space-between;
  }
  &-center {
    display: flex;
    justify-content: center;
  }
  .center {
    align-items: center;
  }
  &-right {
    display: flex;
    justify-content: flex-end;
  }
}
