.logan.font-roboto.size-small.style-huge HTML, CSS AND JAVASCRIPT
header.header.flex.space-between
  .header-left
    .header-logo.font-mistrain.size-big
      a(href="index.html").hover Newbie Chan
  .header-right.flex.font-roboto.size-regular.style-huge
    .header-item
      a(href="index.html").hover Home
    .header-item
      a(href="javascript:void(0);").hover Featured
    .header-item
      a(href="javascript:void(0);").hover Tags
    .header-item
      a(href="javascript:void(0);").hover Contact
    .header-item
      img(src="img/icon/search.svg", alt="")
