html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    // build:css
    link(rel="stylesheet", href="css/main.css")
    // endbuild
    title NewbieChan Blog
  body
    #pacman
      .pacman
        .pacman-eye
        .pacman-mouth
        .pacman-food
    .container
      .row.flex
        .logan.font-roboto.size-small.style-huge HTML, CSS AND JAVASCRIPT
        header.header.flex.space-between
          .header-left
            .header-logo.font-mistrain.size-big Newbie Chan
          .header-right.flex.font-roboto.size-regular.style-huge
            .header-item Home
            .header-item Featured
            .header-item Tags
            .header-item Contact
            .header-item
              img(src="img/icon/search.svg", alt="")
      .banner.flex
        .banner-left
          .banner-tags.flex.font-roboto.style-huge.size-tiny
            .banner-tags-item.tag-blue.flex.center Tips
            .banner-tags-item.tag-pink.flex.center CSS
          .banner-title.font-roboto.size-huge.style-huge So sánh mức độ ưu tiên trong CSS theo kiểu ít hack não nhất (trong một bài viết hoặc hơn)
          .banner-content.font-roboto.size-medium.style-italic.flex
            <svg role="img" viewBox="0 0 20 95" xmlns="http://www.w3.org/2000/svg"><path d="M12.9001918,16.8570055 L0.524171375,4.47527784 L4.91786414,0 L18.7524718,13.8409875 C20.3697077,15.4589694 20.398398,18.0886315 18.8168551,19.7421769 L7.0413089,32.0538281 L18.8538597,44.6171054 C20.401904,46.263533 20.3741454,48.8536319 18.7911774,50.4658654 L7.08672321,62.3867054 L18.8323972,74.6671244 C20.3892009,76.2948045 20.3892009,78.8747862 18.8323973,80.5024662 L4.96615171,95 L0.4758838,90.6234937 L12.9468182,77.5847954 L1.18274114,65.2851354 C-0.388760112,63.6420887 -0.371831154,61.0325938 1.2208526,59.4104655 L12.9374933,47.4772136 L1.14303206,34.9331755 C-0.390470325,33.3022138 -0.379639618,30.7414276 1.16760288,29.1237436 L12.9001918,16.8570055 Z"></path></svg>
            p Cách ít hack não nhất là: Bước 1: Mở text editor Bước 2: Live server đoạn code Bước 3: Thử xem selector nào đang ưu tiên cao nhât
          .banner-status.font-roboto.style-huge.size-normal 4-12-2019
        .banner-middle
          .game.flex.space-between
            .game-item#html
              img(src="img/icon/html.svg", alt="")
            .game-item#css
              img(src="img/icon/css.svg", alt="")
            .game-item#js
              img(src="img/icon/javascript.svg", alt="")
          img(src="img/television3.jpg", alt="")
      .featured
        .flex
          .featured-row
            .featured-banner
              img(src="img/sign1.jpg", alt="")
            .featured-over
              .featured-title.font-roboto.style-huge.size-big So sánh mức độ ưu tiên trong CSS theo kiểu ít hack não nhất (trong một bài viết hoặc hơn)
              .featured-content.font-roboto.style-italic.style-bold.size-regular.flex
                <svg role="img" viewBox="0 0 20 95" xmlns="http://www.w3.org/2000/svg"><path d="M12.9001918,16.8570055 L0.524171375,4.47527784 L4.91786414,0 L18.7524718,13.8409875 C20.3697077,15.4589694 20.398398,18.0886315 18.8168551,19.7421769 L7.0413089,32.0538281 L18.8538597,44.6171054 C20.401904,46.263533 20.3741454,48.8536319 18.7911774,50.4658654 L7.08672321,62.3867054 L18.8323972,74.6671244 C20.3892009,76.2948045 20.3892009,78.8747862 18.8323973,80.5024662 L4.96615171,95 L0.4758838,90.6234937 L12.9468182,77.5847954 L1.18274114,65.2851354 C-0.388760112,63.6420887 -0.371831154,61.0325938 1.2208526,59.4104655 L12.9374933,47.4772136 L1.14303206,34.9331755 C-0.390470325,33.3022138 -0.379639618,30.7414276 1.16760288,29.1237436 L12.9001918,16.8570055 Z"></path></svg>
                p Cách ít hack não nhất là: Bước 1: Mở text editor Bước 2: Live server đoạn code Bước 3: Thử xem selector nào đang ưu tiên cao nhât
              .featured-status.font-roboto.style-medium.size-small 4-12-2019
              .featured-tag.flex
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny CSS
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny Tips
        .flex
          .featured-row.row-right
            .featured-banner
              img(src="img/sign2.jpg", alt="")
            .featured-over
              .featured-title.font-roboto.style-huge.size-big So sánh mức độ ưu tiên trong CSS theo kiểu ít hack não nhất (trong một bài viết hoặc hơn) - Kỳ 2
              .featured-content.font-roboto.style-italic.style-bold.size-regular.flex
                <svg role="img" viewBox="0 0 20 95" xmlns="http://www.w3.org/2000/svg"><path d="M12.9001918,16.8570055 L0.524171375,4.47527784 L4.91786414,0 L18.7524718,13.8409875 C20.3697077,15.4589694 20.398398,18.0886315 18.8168551,19.7421769 L7.0413089,32.0538281 L18.8538597,44.6171054 C20.401904,46.263533 20.3741454,48.8536319 18.7911774,50.4658654 L7.08672321,62.3867054 L18.8323972,74.6671244 C20.3892009,76.2948045 20.3892009,78.8747862 18.8323973,80.5024662 L4.96615171,95 L0.4758838,90.6234937 L12.9468182,77.5847954 L1.18274114,65.2851354 C-0.388760112,63.6420887 -0.371831154,61.0325938 1.2208526,59.4104655 L12.9374933,47.4772136 L1.14303206,34.9331755 C-0.390470325,33.3022138 -0.379639618,30.7414276 1.16760288,29.1237436 L12.9001918,16.8570055 Z"></path></svg>
                p Specificity is the means by which browsers decide which CSS property values are the most relevant to an element and, therefore, will be applied. Specificity is based on the matching rules which are composed of different sorts of CSS Selectors.
              .featured-status.font-roboto.style-medium.size-small 4-12-2019
              .featured-tag.flex
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny CSS
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny Tips
        .flex
          .featured-row
            .featured-banner
              img(src="img/sign3.jpg", alt="")
            .featured-over
              .featured-title.font-roboto.style-huge.size-big So sánh mức độ ưu tiên trong CSS theo kiểu ít hack não nhất (trong một bài viết hoặc hơn) - Kỳ cuối
              .featured-content.font-roboto.style-italic.style-bold.size-regular.flex
                <svg role="img" viewBox="0 0 20 95" xmlns="http://www.w3.org/2000/svg"><path d="M12.9001918,16.8570055 L0.524171375,4.47527784 L4.91786414,0 L18.7524718,13.8409875 C20.3697077,15.4589694 20.398398,18.0886315 18.8168551,19.7421769 L7.0413089,32.0538281 L18.8538597,44.6171054 C20.401904,46.263533 20.3741454,48.8536319 18.7911774,50.4658654 L7.08672321,62.3867054 L18.8323972,74.6671244 C20.3892009,76.2948045 20.3892009,78.8747862 18.8323973,80.5024662 L4.96615171,95 L0.4758838,90.6234937 L12.9468182,77.5847954 L1.18274114,65.2851354 C-0.388760112,63.6420887 -0.371831154,61.0325938 1.2208526,59.4104655 L12.9374933,47.4772136 L1.14303206,34.9331755 C-0.390470325,33.3022138 -0.379639618,30.7414276 1.16760288,29.1237436 L12.9001918,16.8570055 Z"></path></svg>
                p Nếu các bạn vẫn còn nhớ secifishity, thì !important, không có cùng dạng chỉ số ưu tiên như các loại selector khác, vì nó giống như đang tạo một môi trường ưu tiên mới cao hơn môi trường cũ và chỉ so sánh những selector có chung môi trường.
              .featured-status.font-roboto.style-medium.size-small 4-12-2019
              .featured-tag.flex
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny CSS
                .featured-tag-item.tag-pink.flex.center.font-roboto.style-huge.size-tiny Tips

    script(src="lib/jquery.min.js")
    // build:js
    script(src="js/index.js")
    // endbuild
