.featured {
  margin: {
    left: 130px;
    right: 130px;
  }

  &-banner {
    z-index: 0;
    img {
      //top: 250px;
      width: 418px;
    }
  }

  &-over {
    z-index: 3;
    position: relative;
  }

  &-row {
    margin-bottom: 100px;
    width: calc(50% - 40px);
    //z-index: 2;
  }
  .row-right {
    margin-left: 50%;
  }

  &-title {
    margin-top: -250px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 40px;
    &:hover {
      text-decoration: underline $color-pink;
    }
  }

  &-content {
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-left: 40px;
    svg {
      width: 10px;
      fill: white;
      display: inline;
    }
    p {
      display: inline-block;
      width: 90%;
      padding: {
        left: 15px;
        top: 15px;
      }
    }
  }

  &-status {
    margin-left: 40px;
  }

  &-tag {
    margin: {
      left: 40px;
      top: 30px;
    }
    &-item {
      margin-right: 10px;
      padding: {
        left: 6px;
        right: 6px;
      }
      height: 25px;
    }
  }
}
